<a href="https://colab.research.google.com/github/njsuriya/ML_clf_algorithms/blob/main/one_hot_encode_with_pipe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create pipeline with OnehotEncoding and Classifer - SVC , KNN, Logistic Regression
Handle Categorical Values in DF

In [ ]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB,BernoulliNB,CategoricalNB,GaussianNB
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay,accuracy_score
import time 
import matplotlib.pyplot as plt

In [ ]:
ad_df = pd.read_csv('/content/cleaned_adult.csv')
ad_df = ad_df.drop(ad_df.columns[0],axis=1)
ad_df.head(5)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
target = ad_df['salary']
input = ad_df.drop(['salary','fnlwgt','education_num','race','capital_gain','capital_loss'],axis=1)

In [ ]:
input

In [ ]:
target

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: salary, Length: 32561, dtype: object

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(input,target)

In [ ]:
col_dtype = (x_train.dtypes == 'object')
obj_col = list(col_dtype[col_dtype].index)
obj_col

['workclass',
 'education',
 'marital_status',
 'occupation',
 'relationship',
 'sex',
 'country']

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder
column_encoded = make_column_transformer((OneHotEncoder(),obj_col))
column_encoded.fit_transform(x_train,y_train)

<24420x94 sparse matrix of type '<class 'numpy.float64'>'
	with 170940 stored elements in Compressed Sparse Row format>

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC,NuSVC,LinearSVC
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
lr_clf = LogisticRegression()
svc_clf = SVC()
knn = KNeighborsClassifier(n_neighbors=5)

In [ ]:
score = list()
model_type = [lr_clf,svc_clf,knn]
for model in model_type:
  pipe = make_pipeline (column_encoded,model)
  pipe.fit(x_train,y_train)
  scores = pipe.score(x_test,y_test)
  score.append(scores)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [ ]:
score

[0.8282766244933055, 0.8281537894607542, 0.8143962658150105]