<a href="https://colab.research.google.com/github/njsuriya/ML_clf_algorithms/blob/main/textcleaning_htmlcleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
e_df = pd.read_csv("/content/Emotions.csv")

In [ ]:
e_df.head(3)

,Sr No.,Utterance,Speaker,Emotion,Sentiment,Dialogue_ID,Utterance_ID,Season,Episode,StartTime,EndTime
0,1,also I was the point person on my companys tr...,Chandler,neutral,neutral,0,0,8,21,"00:16:16,059","00:16:21,731"
1,2,You mustve had your hands full.,The Interviewer,neutral,neutral,0,1,8,21,"00:16:21,940","00:16:23,442"
2,3,That I did. That I did.,Chandler,neutral,neutral,0,2,8,21,"00:16:23,442","00:16:26,389"

**Converting the Text Column as String**

In [ ]:
df = e_df[['Utterance']]
df['Utterance'] = df['Utterance'].astype(str)
df.head(3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                           Utterance
0  also I was the point person on my companys tr...
1                   You mustve had your hands full.
2                            That I did. That I did.

**Changing to lowercase**

In [ ]:
df['Utterance_lower'] = df['Utterance'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head(3)

,Utterance,Utterance_lower
0,also I was the point person on my companys tr...,also i was the point person on my companys tr...
1,You mustve had your hands full.,you mustve had your hands full.
2,That I did. That I did.,that i did. that i did.

**REMOVING PUNCTUATION**

In [ ]:
import string
PUN = string.punctuation
def remove_pun(text):
  #"""
    # maketrans returns dictionary mapping of the third parameter 
    # example PUN : '{}[]'
    # [{(//Unicode):None,}(//Unicode):None,]

  #"""
  return text.translate(str.maketrans('', '', PUN))

In [ ]:
df['utter_lower_removed_pun'] = df['Utterance_lower'].apply(lambda text_line: remove_pun(text_line))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head(3)

,Utterance,Utterance_lower,utter_lower_removed_pun
0,also I was the point person on my companys tr...,also i was the point person on my companys tr...,also i was the point person on my companys tr...
1,You mustve had your hands full.,you mustve had your hands full.,you mustve had your hands full
2,That I did. That I did.,that i did. that i did.,that i did that i did

**REMOVE STOPWORDS**

In [ ]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

def remove_stop(text):
  return " ".join([word for word in text.split() if word not in ENGLISH_STOP_WORDS])

In [ ]:
df['utter_lower_removed_pun_stop'] = df['utter_lower_removed_pun'].apply(lambda text_line: remove_stop(text_line))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head(3)

,Utterance,Utterance_lower,utter_lower_removed_pun,utter_lower_removed_pun_stop
0,also I was the point person on my companys tr...,also i was the point person on my companys tr...,also i was the point person on my companys tr...,point person companys transition kl5 gr6
1,You mustve had your hands full.,you mustve had your hands full.,you mustve had your hands full,mustve hands
2,That I did. That I did.,that i did. that i did.,that i did that i did,did did

**LEMMATIZATION**

In [ ]:
import spacy

nlp = spacy.load('en_core_web_sm')

def lemma(text):
  return " ".join([word.lemma_ for word in nlp(text)])

In [ ]:
df['utter_lower_removed_pun_stop_lemma'] = df['utter_lower_removed_pun_stop'].apply(lambda text_line: lemma(text_line))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['utter_lower_removed_pun_stop_lemma']

0       point person companys transition kl5 gr6
1                                    mustve hand
2                                           do do
3                      lets talk little bit duty
4                                      duty right
                          ...
9984
9985         get uh joey woman do not adams apple
9986                               guy mess right
9987                                         yeah
9988                        good second like whoa
Name: utter_lower_removed_pun_stop_lemma, Length: 9989, dtype: object

In [ ]:
df.drop(['Utterance','Utterance_lower','utter_lower_removed_pun','utter_lower_removed_pun_stop'],axis = 1,inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df.rename(columns={'utter_lower_removed_pun_stop_lemma':'Utterances'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df

                                     Utterances
0     point person companys transition kl5 gr6
1                                  mustve hand
2                                         do do
3                    lets talk little bit duty
4                                    duty right
...                                         ...
9984
9985       get uh joey woman do not adams apple
9986                             guy mess right
9987                                       yeah
9988                      good second like whoa

[9989 rows x 1 columns]

In [ ]:
import re 

'''
  Removing the pattern from the dataframe 
  \s whitespace
  \w alphanumeric 

'''

pattern = re.compile(r'[^\s\w]+')
def removeSpace(text):
  return " ".join([pattern.sub('',line) for line in text.split()])

In [ ]:
df['Utterances'] = df['Utterances'].apply(lambda x : removeSpace(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

In [ ]:
e_df

In [ ]:
new_df = pd.DataFrame().assign(Utterances=df['Utterances'], Emotion=e_df['Emotion'],Sentiment=e_df['Sentiment'])

In [ ]:
new_df.to_csv('/content/test_cleaned_emotions.csv')

**HTML CLEANING**

In [ ]:
with open("/content/test.html", "r", encoding="UTF-8") as f:
  email_cont = f.read()
# type(email_cont)

In [ ]:
import requests
website = requests.get('https://lxml.de/')
website_cont = website.text
website_cont

In [9]:
import lxml.etree as etree
import lxml.html
# html_cont = etree.tostring(html_obj,pretty_print=True,method="html")
html_obj = lxml.html.document_fromstring(
    """<!DOCTYPE html>
  <html>

  <body>
  <h1>My First Heading</h1>
  <p>My first paragraph.</p>
  <table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
</table>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.
</blockquote>
<blockquote cite="http://www.whatsapp.com">
Social media 
</blockquote>
</body>
</html>
""" )
# etree.tostring(html_obj)

In [10]:
def removetags(html_obj):
  e1 = list()
  e1 = html_obj.xpath('//blockquote')
  # e1.extend(html_obj.xpath('//table'))
  for element in e1:
    element.drop_tree()
  
  return(html_obj.xpath('//text()'))

In [13]:
list_html_text = removetags(html_obj)

cleaned_text_list = [text.strip() for text in list_html_text if text.strip()]

cleaned_text_list

['My First Heading',
 'My first paragraph.',
 'Company',
 'Contact',
 'Country',
 'Alfreds Futterkiste',
 'Maria Anders',
 'Germany',
 'Centro comercial Moctezuma',
 'Francisco Chang',
 'Mexico']

In [14]:
x = etree.tostring(html_obj,encoding='utf-8').decode('utf-8')

In [15]:
x

'<html>\n\n  <body>\n  <h1>My First Heading</h1>\n  <p>My first paragraph.</p>\n  <table>\n  <tr>\n    <th>Company</th>\n    <th>Contact</th>\n    <th>Country</th>\n  </tr>\n  <tr>\n    <td>Alfreds Futterkiste</td>\n    <td>Maria Anders</td>\n    <td>Germany</td>\n  </tr>\n  <tr>\n    <td>Centro comercial Moctezuma</td>\n    <td>Francisco Chang</td>\n    <td>Mexico</td>\n  </tr>\n</table>\n\n\n</body>\n</html>'

In [ ]:
blockquote = list()

el = html_obj.xpath("//blockquote")
el.extend(html_obj.xpath("//table"))
# for element in el:
#   blockquote.append(element.xpath('//text()'))
#   element.drop_tree()
# blockquote
type(el)
el

[<Element blockquote at 0x7f4f0ab788f0>,
 <Element blockquote at 0x7f4f0ab78770>,
 <Element table at 0x7f4f0abb5a70>]

In [ ]:
# table = list()

# el = html_obj.xpath("//table")
# for element in el:
#   table.append(element.xpath('//text()'))
#   # element.drop_tree()
# table

[]

In [ ]:
head = list()

el = html_obj.xpath("//head")
for element in el:
  element.drop_tree()
  head.append(element.xpath('//text()'))
head

[]

In [ ]:
#title = list()

el = html_obj.xpath("//title")
for element in el:
  element.drop_tree()
  #title.append(element.xpath('//text()'))
#title

[['Paragraph to test html cleaning']]

In [6]:
!pip install html2text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting html2text
  Downloading html2text-2020.1.16-py3-none-any.whl (32 kB)
Installing collected packages: html2text
Successfully installed html2text-2020.1.16

In [18]:
import html2text

h = html2text.HTML2Text()
h.ignore_tables = True

h.handle(x)

'# My First Heading\n\nMy first paragraph.\n\nCompany Contact Country  \nAlfreds Futterkiste Maria Anders Germany  \nCentro comercial Moctezuma Francisco Chang Mexico\n\n'