<a href="https://colab.research.google.com/github/njsuriya/ML_clf_algorithms/blob/main/text_basic_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/support.csv")

In [3]:
df.head(3)

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact
0,NaN,hi since recruiter lead permission approve req...,1.0,4.0,2.0,21.0,71.0,3.0,4.0
1,connection with icon,icon dear please setup icon per icon engineers...,1.0,6.0,22.0,7.0,26.0,3.0,4.0
2,work experience user,work experience user hi work experience studen...,1.0,5.0,13.0,7.0,32.0,3.0,4.0

In [4]:
features = df.columns
features

Index(['title', 'body', 'ticket_type', 'category', 'sub_category1',
       'sub_category2', 'business_service', 'urgency', 'impact'],
      dtype='object')

In [5]:
df.dropna(axis=0)

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact
1,connection with icon,icon dear please setup icon per icon engineers...,1.0,6.0,22.0,7.0,26.0,3.0,4.0
2,work experience user,work experience user hi work experience studen...,1.0,5.0,13.0,7.0,32.0,3.0,4.0
3,requesting for meeting,requesting meeting hi please help follow equip...,1.0,5.0,13.0,7.0,32.0,3.0,4.0
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,1.0,4.0,2.0,76.0,4.0,3.0,4.0
5,mail,verification warning hi has got attached pleas...,1.0,4.0,3.0,7.0,89.0,3.0,4.0
...,...,...,...,...,...,...,...,...,...
39860,wrong notification receiver,sent friday your request for assistance comple...,0.0,4.0,21.0,77.0,56.0,2.0,3.0
39861,mail delivery failure,sent friday failure hello can you please below...,0.0,4.0,21.0,78.0,36.0,0.0,3.0
39862,activation failed,sent friday activation failed hello think lice...,0.0,5.0,12.0,71.0,32.0,1.0,3.0
39863,problem slave,sent friday kins problem slave hi everyone cou...,0.0,4.0,21.0,41.0,49.0,1.0,3.0
39864,wrong address,sent thursday re wrong recipient for hello hav...,0.0,11.0,56.0,73.0,4.0,0.0,0.0

In [6]:
df['impact'].value_counts()

4.0    34621
3.0     4962
0.0      154
2.0      117
1.0       11
Name: impact, dtype: int64

In [7]:
df['urgency'].value_counts()

3.0    34621
2.0     2940
1.0     1904
0.0      400
Name: urgency, dtype: int64

**STRATIFY in train_test_split**

Preserves the ratio proportion of the target class when spliting 

For Example : If Dataset has target feature with 3 classes in the ratio 40:40:20 if we use stratify sampling then our train and test data will also have the same proportions (if stratify is No then random proportion will be taken in the spliting )

In [8]:
df_new = df[['title','body','urgency','impact']]
df_new.dropna(axis=0,inplace = True)
df_new

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

,title,body,urgency,impact
1,connection with icon,icon dear please setup icon per icon engineers...,3.0,4.0
2,work experience user,work experience user hi work experience studen...,3.0,4.0
3,requesting for meeting,requesting meeting hi please help follow equip...,3.0,4.0
4,reset passwords for external accounts,re expire days hi ask help update passwords co...,3.0,4.0
5,mail,verification warning hi has got attached pleas...,3.0,4.0
...,...,...,...,...
39860,wrong notification receiver,sent friday your request for assistance comple...,2.0,3.0
39861,mail delivery failure,sent friday failure hello can you please below...,0.0,3.0
39862,activation failed,sent friday activation failed hello think lice...,1.0,3.0
39863,problem slave,sent friday kins problem slave hi everyone cou...,1.0,3.0
39864,wrong address,sent thursday re wrong recipient for hello hav...,0.0,0.0

In [9]:
input_features = df_new.drop(['impact'],axis=1)
output_features = df_new['impact']

In [10]:
from sklearn.model_selection import train_test_split

REMOVE PUNCTUATION | 
REMOVE STOPWORDS | 
PERFORM STEMMING AND LEMMATIZATION |
PERFORM VECTORIZATION

In [11]:
import re

In [12]:
import string

In [13]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [14]:
## \w - alphanumeric 
## \s - whitespace

pattern = re.compile(r'[^\w\s]+')

In [15]:
input_features['preprocess_title'] = [pattern.sub('',text) for text in input_features['title'].tolist()]
input_features['preprocess_body'] = [pattern.sub('',text) for text in input_features['body'].tolist()]

In [16]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

In [ ]:
ENGLISH_STOP_WORDS

In [18]:
input_features['title']= input_features['preprocess_title'].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in ENGLISH_STOP_WORDS]))
input_features['title']= input_features['preprocess_body'].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in ENGLISH_STOP_WORDS]))

In [20]:
input_features.drop(['preprocess_title'],axis=1,inplace = True)
input_features.drop(['preprocess_body'],axis=1,inplace = True)

In [21]:
x_train,y_train,x_test,y_test = train_test_split(input_features,output_features,stratify=output_features)