<a href="https://colab.research.google.com/github/njsuriya/ML_clf_algorithms/blob/main/text_clf_with_nb%26svc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
def load_data(data):
  df = pd.read_csv(data)
  return df

In [3]:
df = load_data('/content/support.csv')

In [4]:
df.head(3)

,title,body,ticket_type,category,sub_category1,sub_category2,business_service,urgency,impact
0,NaN,hi since recruiter lead permission approve req...,1,4,2,21,71,3,4
1,connection with icon,icon dear please setup icon per icon engineers...,1,6,22,7,26,3,4
2,work experience user,work experience user hi work experience studen...,1,5,13,7,32,3,4

In [27]:
df.dropna(inplace = True)
df.shape

(47837, 9)

In [6]:
df_x = df['body']
df_y = df['urgency']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,stratify = df_y)

In [9]:
x_train

5907     leaver form leave date october location hello ...
44119    sent wednesday march booting up hello could yo...
21121    thursday february pm add users dashboard dear ...
36108    update option hi wanted start update procedure...
9636     re leaver token center hello infra has disable...
                               ...
45569    have terminal connected terminal tries send da...
16158    friday add feedback owners snow good morning p...
8703     wants documentation hello engineer write order...
42330    sent tuesday error importance high dear collea...
37442    wants access please help with access accept or...
Name: body, Length: 35877, dtype: object

In [10]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
cv = CountVectorizer(stop_words='english')
x_train_cv = cv.fit_transform(x_train)

In [12]:
x_train_cv

<35877x10939 sparse matrix of type '<class 'numpy.int64'>'
	with 800484 stored elements in Compressed Sparse Row format>

In [13]:
x_train_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [14]:
cv.get_feature_names_out()

array(['ab', 'abandon', 'abandoned', ..., 'zones', 'zoom', 'zori'],
      dtype=object)

In [15]:
cv_ngram = CountVectorizer(stop_words='english',ngram_range=(2,2))
x_train_cv_ngram = cv_ngram.fit_transform(x_train)

In [16]:
from sklearn.naive_bayes import MultinomialNB

In [17]:
multiNB_clf = MultinomialNB()

In [18]:
multiNB_clf.fit(x_train_cv_ngram,y_train)

MultinomialNB()

In [19]:
multiNB_clf.score(cv_ngram.transform(x_test),y_test)

0.8459030100334448

In [20]:
multiNB_clf.fit(x_train_cv,y_train)

MultinomialNB()

In [21]:
multiNB_clf.score(cv.transform(x_test),y_test)

0.8502508361204013

In [22]:
from sklearn.svm import SVC

In [23]:
SVC_clf = SVC()

In [24]:
# Train Time ----- 4 min 56 seconds much greater than the Multinomial 

SVC_clf.fit(x_train_cv, y_train)

SVC()

In [25]:
# Accuracy score is similar in both MultinomialNB and SVC 

SVC_clf.score(cv.transform(x_test),y_test)

0.8566889632107023